@font-face {
  font-family: 'IBM Plex Sans';
  src: url(fonts/IBMPlexSans-Regular.ttf) format('ttf');
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  font-family: 'IBM Plex Sans', 'Courier New', Courier, monospace;
}

html {
  background-color: #222225;
}

.content {
  top: 91px;
  position: absolute;
  height: calc(100% - 91px);
  width: 100%;
  display: flex;
  overflow: hidden;
}
